/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);

/* Additional Resets */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #c5c6c7;
}

a:hover {
    color: #66fcf1;
}

/* Generalizations */
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
    margin: 5px 0 5px 0;
}

h3 a {
    color: #66fcf1;
}

h3 a:hover {
    color: #45a29e;
}

p, li {
    font-family: Georgia, sans-serif;
    margin: 0;
}

.mainH2 {
    background-color: #45a29e;
    /*margin: 10px 0 20px 0;*/
    padding: 5px 0 5px 0;
    /*border-top: #1f2833 solid 2px;*/
    border-bottom: #1f2833 solid 2px;
    color: #1f2833;
}

/* Icons */
i {
    font-size: 35px;
}

.devicon-intellij-plain-wordmark {
    font-size: 100px;
}

.devicon-github-original, .devicon-linkedin-plain {
    font-size: 20px;
    background-color: transparent;
}

.material-icons.md-18 {
    font-size: 18px;
}

/* Overall Style */
body {
    background: #0b0c10;
    font-size: 16px;
    color: #c5c6c7;
}

.colored {
    background-color: transparent;
}

/* Header with Name and Title */
header {
    border-bottom: solid #45a29e 4px;
    background-color: #1f2833;
    padding: 15px 0 15px 0;
    /*margin-bottom: 10px;*/
}

#name {
    text-transform: uppercase;
    color: #66fcf1;
    font-weight: 600;
}

#title {
    color: #c5c6c7;
    font-size: 1em;
}

/* Contact info section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
}

#contact a i {
    padding-right: 5px;
}

/* Technical Skills */
#skills {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

/* Hide education in aside */
#educationDesktop {
    display: none;
}

/* Padding left */
#summary, .projects, .experience, #educationMobile ul {
    margin-left: 10px;
}

/* Summary */
p {
    padding: 10px 0 10px 0;
    text-indent: 1.4em;
}

/* Development Projects */
.projects {
    padding: 10px 0 10px 0;
}

/* Experience */
.bulleted {
    list-style: inside;
    padding: 10px 0 10px 0;
    /* This will indent the lines after the bullet of each li */
    text-indent: -22px;
    margin-left: 22px;
}

.bulleted li {
    margin-bottom: 10px;
}

.experience h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Education */
#educationMobile {
    padding: 10px 0 10px 0;
}

#educationMobile ul {
    padding: 10px 0 10px 0;
}

#educationMobile ul li:nth-child(2n) {
    padding-left: 15px;
}

#educationMobile ul li:nth-child(2n-1) {
    color: #66fcf1;
}

/* Footer */
footer {
    height: 20px;
    text-align: center;
    border-top: #1f2833 solid 4px;
    padding: 10px 0 10px 0;
    font-size: 1.25em;
}

/* Media Queries for desktop */
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #educationMobile {
        display: none;
    }

    #educationDesktop {
        display: revert;
    }

    #educationDesktop ul {
        padding: 10px 0 10px 0;
        text-align: center;
    }

    #educationDesktop ul li:nth-child(2n-1) {
        color: #66fcf1;
    }

    main {
        display: flex;
    }

    /*#mainContent {*/
    /*}*/
    #information {
        border-right: solid #45a29e 50px;
        flex: 0 0 400px;
    }

    #skills {
        display: grid;
        grid-template-columns: 10% 10% 10%;
        text-align: center;
        grid-gap: 10px;
    }

    body {
        font-size: 18px;
    }

    footer {
        background-color: #45a29e;
        border-top: none;
    }

    footer a {
        color: #1f2833;
    }

    i {
        font-size: 50px;
        transition: transform ease-in-out .25s;
    }

    i:hover {
        transform: scale(1.25);
    }
}


/* Color theme */
/*#0b0c10 background*/
/*#1f2833 heading bg*/
/*#c5c6c7 text*/
/*#66fcf1*/
/*#45a29e*/